@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

body {
    margin: 0;
    height: 70vh;
    background: url('/_next/assets/bg-hero.png') no-repeat top;
    background-size: cover
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000
}

.navBar_lista {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 25rem 0 0;
    padding: 0;
    font-family: Gabarito
}

.navBar_lista,
.navItem {
    font-weight: 400;
    font-size: .875rem
}

.navItem {
    margin: 0 1rem;
    color: #7a8b9c
}

.textoCentral_container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%)
}

.textoCentral {
    text-align: center;
    font-size: 4rem;
    color: #033249;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: Gabarito;
    font-weight: 700
}

.textoCentralCor {
    color: #00b4b0
}

.fotoHomem_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 142vh
}

.fotoHomem {
    width: 12%;
    height: auto;
    position: relative;
    top: 5%;
    right: 0%;
}

.sombraHomem {
    position: absolute;
    top: 56%;
    right: 32.5%
}

.botao {
    background-color: #00b4b0;
    padding: 1rem 1.5rem;
    border-radius: .625rem;
    box-shadow: 0 13px 60px 0 #16c5d966;
    outline: none;
    top: 40%;
    font-family: Gabarito;
    font-weight: 500
}

.botao,
.folhasUm {
    position: absolute
}

.folhasUm {
    top: 30%;
    right: 75%
}

.folhasDois {
    position: absolute;
    top: 70%;
    right: 27%
}

.folhasTres {
    position: absolute;
    top: 93%;
    right: 60%
}

.computadores {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0
}

.computadorEsquerda {
    transform: scaleX(-1)
}

.sombrasComputadores {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 1rem
}

.sombraComputadorEsquerda {
    transform: scaleX(-1)
}

.sobreNos_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9rem 0 15rem
}

.servicos {
    background: url('/_next/assets/bg-servico.png');
    background-size: cover;
    background-repeat: no-repeat
}

.lampadaServicos {
    position: absolute;
    right: 45%
}

.tituloServicos_container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 3rem
}

.tituloServicos {
    font-size: 2.5rem;
    font-weight: 400;
    color: #7a8b9c
}

.corTituloServicos {
    color: #00b4b0;
    font-weight: 700
}

.main_container {
    display: flex;
    padding-bottom: 4rem
}

.container1 {
    margin-left: 6%
}

.container1,
.container2 {
    width: 100%;
    display: flex;
    gap: 5rem;
    align-items: center
}

.LinhaBaixo {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: 0 6%;
    padding-bottom: 2rem
}

.linhaBaixo_individual {
    width: 30%
}

.textoPrincipalServicos {
    color: #033249;
    font-family: Gabarito;
    font-weight: 700;
    font-size: 1.5rem
}

.textoSecundarioServicos {
    color: #7a8b9c;
    font-weight: 400;
    font-size: .875rem;
    font-family: Gabarito
}

.blocoTextoServicos {
    width: 33%
}

.botõesServicos_container {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.botãoNossoServico {
    background-color: #033249;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: .875rem;
    font-weight: 400;
    font-family: Gabarito;
    text-align: center
}

.blog_bg {
    background-color: #00b4b0;
    height: 40rem;
    width: 100vw
}

.blog_container_principal {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.blog_bloco_texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    gap: 1rem;
    margin: 6rem
}

.blog_titulo {
    font-weight: 400;
    font-size: 2.5rem
}

.blog_titulo2 {
    font-weight: 700;
    font-size: 2.5rem
}

.blog_conteudo {
    font-weight: 400;
    font-size: .875rem
}

.blog_botao {
    color: #00b4b0;
    background-color: #fbfbfb;
    padding: 1rem 1.5rem;
    border-radius: .625rem;
    width: 12rem;
    font-weight: 500;
    font-size: 1.25rem
}

.card_container {
    display: flex;
    align-items: center;
    gap: 1rem
}

.card {
    background-image: url('/_next/assets/bgcard.png');
    width: 35%;
    border-radius: 1rem 1.5rem
}

.card_parteCima {
    font-weight: 400;
    font-size: .625rem;
    margin: .5rem .5rem .5rem 0;
    padding-bottom: .5rem
}

.card_parteCima_livee,
.card_titulo {
    color: #033249
}

.card_titulo {
    font-weight: 700;
    font-size: 1.25rem
}

.card_bloco_texto {
    background-color: #fbfbfb;
    border-radius: 1rem 1.5rem;
    padding: 1rem;
    color: #7a8b9c;
    margin-left: .5rem
}

.faleConosco_bg {
    display: flex;
    justify-content: center;
    background-image: url('/_next/assets/bg-fale-conosco.png');
    background-size: cover;
    background-repeat: no-repeat
}

.faleConosco {
    background-color: #033249;
    padding: 2rem;
    border-radius: .5rem;
    max-width: 42.5rem;
    width: 100%;
    margin: 5rem
}

.form {
    display: flex;
    flex-direction: column
}

.nomeForm {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    font-family: Gabarito
}

.input_grupo {
    display: flex;
    justify-content: space-between;
    gap: 1rem
}

.input_item {
    width: 100%
}

.input_item,
.input_item_full {
    display: flex;
    flex-direction: column
}

.input_item_full {
    margin-top: 1rem
}

label {
    margin-bottom: .5rem;
    color: #00b4b0;
    font-weight: 500;
    font-size: 1.25rem
}

.styleinput_grupo {
    padding: 1rem 2rem;
    border: 1px solid;
    font-size: 1rem
}

.styleinput_grupo,
textarea {
    margin-bottom: 1rem;
    border-radius: 1rem
}

textarea {
    padding: 2rem
}

.botao_container {
    display: flex;
    justify-content: flex-end
}

.botaoForm {
    background-color: #00b4b0;
    color: #fff;
    border-radius: 1rem;
    border: none;
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 500;
    text-align: center
}

.footer_container {
    background-color: #00b4b0;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center
}

.footer_lista {
    font-family: Gabarito;
    font-size: .875rem;
    font-weight: 400
}

.footer_icones,
.footer_lista {
    display: flex;
    gap: 1rem
}

.footer_copyright_container {
    background-color: #068784;
    padding: 1rem
}

.footer_copyright_texto {
    font-weight: 700;
    font-size: .75rem
}

.footer_copyright_texto2 {
    font-weight: 400;
    font-size: .75rem
}